<app-navbar-user></app-navbar-user>

<div class="container">
  <h2>Products</h2>
  <br>

  <div class="row">
    <div class="col-md-6" *ngFor="let products of productslist">
      <div class="panel panel-primary" position="">
          <div class="col-md-6">
              <div class="panel-body">
                  <tr>
                    <img src={{products.file}} class="img-responsive" style="width:200px" height="200px" alt="Image"> </tr>
                </div>      
                <div class="panel-body">
                    <tr style="font-size: 25px">Name of Product:{{ products.productName }}</tr>
                  </div>
                  <div class="panel-body">
                      <tr style="font-size: 25px">Description:{{ products.productDescription }}</tr>
                    </div>
                    <div class="panel-body">
                        <tr style="font-size: 25px">Cost:{{ products.productCost }}</tr>
                      </div>
                  <span class="border border-top-0"></span>
                <div class="panel-body">
            <!-- <button class="btn btn-primary btn-sm button button3" routerLink='/add-to-cart/add-to-cart' style="width:auto;">Add to Cart</button> -->
            <form [formGroup]="rForm" (ngSubmit)="addToCart(products)">
                    <input type="submit" value="Add to Cart" class="btn btn-primary btn-sm button button3" style="margin-left: 5px">
                  </form>
                </div>
          </div>
      </div>
    </div>
  </div>
</div>








<app-footer-user></app-footer-user>