<app-navbar-user></app-navbar-user>
<html>
  <body>
    <div class="col-md-4">
<div class="container">

  <div class="col-md-4">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">

    <div *ngIf="!name; else forminfo">
      <form [formGroup]="rForm" (ngSubmit)="shippingForm(rForm.value)">
        <div class="form-container">
          <div class="row columns">

            <h3>Shipping Details</h3>
            <br>
            <br>

            <p class="field-wrapper required-field">
              <label>Name
                <input type="text" formControlName="name" class="form-control">
              </label>
              <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</div>

              <p class="field-wrapper required-field">
                <label>Address
                  <input type="text" formControlName="address" class="form-control">
                </label>
                <div class="alert" *ngIf="!rForm.controls['address'].valid && rForm.controls['address'].touched">{{ errAddress }}</div>

                <p class="field-wrapper required-field">
                  <label>Pincode
                    <input class="form-control" type="number" formControlName="pincode">
                  </label>
                  <div class="alert" *ngIf="!rForm.controls['pincode'].valid && rForm.controls['pincode'].touched">{{ errPincode }}</div>

                  <p class="field-wrapper required-field">
                    <label>Contact Information
                      <input type="number" formControlName="contact" class="form-control">
                    </label>
                    <div class="alert" *ngIf="!rForm.controls['contact'].valid && rForm.controls['contact'].touched">{{ errContact }}</div>

                    <p class="field-wrapper required-field">
                      <label>Email
                        <input type="email" formControlName="email" required email="true" class="form-control">
                      </label>
                      <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">{{ errEmail }}</div>

                      <input type="submit" class="btn btn-primary btn button button3" style="background-color:rgb(71, 175, 189); border: none; width: 100% "
                        value="Submit" [disabled]="!rForm.valid">
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<div class="col-md-1"></div>
<div class="col-md-7">
    <div class="container">
        <p-card title="Your Products" [style]="{width: '700px'}">
          <!-- <div class="col-md-8"></div> -->
          <!-- <div class="col-md-4"> -->
            <div class="totalPayAmount" style="margin-bottom: 20px; margin-top: 0px; font-size: 16px">
              <b>Total amount payable : {{amnt}}</b>
    
            </div>
            <!-- <div class="checkout">
              <button class="btn btn-primary btn-sm button button3" style="margin-left: 5px">Proceed to checkout</button>
            </div> -->
          <!-- </div> -->
          <p-table [value]="itemslist">
            <ng-template pTemplate="header">
              <tr>
                <th>Name</th>
                <th>Product Cost</th>
                <th>Quantity</th>
                <th>Sub Total</th>
                <th>Option</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-items>
              <tr>
                <td>{{items.productId.productName}}
                  <td>{{items.productCost}}</td>
                  <td>
    
                    <!-- <button (click)="counter(items, 'increment')">
                      <span class="glyphicon glyphicon-plus-sign"></span>
                    </button> -->
                    {{items.quantity}}
                    <!-- <button (click)="counter(items, 'decrement')">
                      <span class="glyphicon glyphicon-minus-sign"></span>
                    </button> -->
                  </td>
                  <td>{{items.quantity * items.productCost}}</td>
                  <td>
                    <button class="btn btn-danger btn-sm" (click)="deleteCartProduct(items._id)">
                      <span class="glyphicon glyphicon-trash"></span>Remove</button>
                  </td>
              </tr>
              <!-- <tr>
                <td colspan="5" align="right">Total</td>
                <td>{{total}}</td>
              </tr> -->
            </ng-template>
            <ng-template pTemplate>
              <tr>
                <td colspan="5" align="right">Total</td>
                <td>{{total}}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
        <br>
        <!-- <div class="col-md-11">
        <input class="btn btn-primary btn button button3" 
        style="margin: 5px 0px; background-color:rgb(71, 175, 189); border: none; width: 100%"
        value="Proceed to checkout" routerLink='/shipping-form/shipping-form'>
      </div> -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
</div>
</body>
</html>
<app-footer-user></app-footer-user>