.button {
    background-color: rgb(71, 175, 189); /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button3 {border-radius: 8px;}

p.field-wrapper input {
    float: right;
}
p.required-field::before { 
    content: "*";
    float: left;
    color: red;
}
input{
    width: 400px
}