/* .demo h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg{
    background-image: url('../../../../assets/images/photo.jpg');
    height: 100%; 
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 300px;
    z-index: -1;
}

body, html {
    height: 100%;
} */