<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            width: 130px;
            height: 100%;
            /* position: fixed; */
            z-index: 1;
            top: 20px;
            left: 10px;
            background: #eee;
            overflow-x: hidden;
            padding: 8px 0;
        }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #2196F3;
            display: block;
        }

        .sidenav a:hover {
            color: #064579;
        }

        .main {
            margin-left: 140px;
            /* Same width as the sidebar + left position in px */
            font-size: 28px;
            /* Increased text to enable scrolling */
            padding: 0px 10px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }
            .sidenav a {
                font-size: 18px;
            }
        }
        .demo{
            /* margin-top: -180px; */
            position: relative;
        }
        .demo h1{
            position:absolute;
            text-align: center;
            color: white;
            margin-left: 35%
        }

    </style>
</head>

<body>
    <app-navbar-user></app-navbar-user>
    <!-- <nav class="navbar navbar-expand-sm bg-info navbar-dark">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" style="color: white">EcommerceOne</a>
                </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: white">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"style="color: white">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" click="logout()" style="color: white">Logout</a>
              </li>
          </ul>
        </nav>  -->

        <div class="bg"></div>

    <!-- <div class="sidenav">
        <a routerLink="">Womens clothing</a>
        <a routerLink="">Mens clothing</a>
    </div> -->
    <!-- <h2>Welcome {{username}}</h2> -->
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div class="demo">
                <h1>Blogging and shopping</h1>
                <img src="../../../../assets/images/photo.jpg">
             </div>
     </div>
        
    </div>

    <app-footer-user></app-footer-user>
</body>

</html>