<html>
  <head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
</head>
<body>
    <div class="ui-lg-12 ui-md-12 ui-sm-12 center-login">

<p-card [style]="{width: '600px'}">

<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="login(rForm.value)">
    <div class="form-container">
      <div class="row columns">
       
        <h1 style="text-align: center">Login Portal</h1>
        <label>Username
          <input type="text" formControlName="username" class="form-control" style="width:530px">
        </label>
        <div class="alert" *ngIf="!rForm.controls['username'].valid && rForm.controls['username'].touched">{{ titleAlert }}</div>

        <label>Password
          <input type="password" formControlName="password" class="form-control" style="width:530px">
        </label>
       <input type="submit" class="button" value="Login" [disabled]="!rForm.valid" style="width:530px">
      
    
      </div>
    </div>
  </form>

</div>
</p-card>
</div>
</body>
</html>

