<app-navbar></app-navbar>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">


<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addBlogs(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>My Blogs</h1>
        <label style="font-size: 15px">Name of Blog
          <input type="text" formControlName="name" class="form-control">
        </label>
        <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</div>
        <br>
        
        <label style="font-size: 15px">Description
        </label>  
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10" formControlName="description"></textarea>

        <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">You must specify a description that's between 30 and 500 characters.</div>
        <input type="file" id="file" (change)="onFileChange($event)" #fileInput>
       <input type="submit" class="button expanded" value="Submit Form" style="font-size: 15px" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div> 







<app-footer></app-footer>