body{
    background-image: url('../../../../assets/images/grey1.jpg');
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
}
.alert{
    color: red
}