<app-navbar></app-navbar>
<!-- <div class="container">
    <h2>Blogs List</h2>   
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Blog Image</th>
          <th>Blog name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let blogs of blogslist">
            <td><img src="{{blogs.file}}" alt="" height="50px" width="50px"></td>
            <td>{{blogs.name}}</td>
            <td>{{blogs.description}}</td>
            <td>
                <button class="btn btn-primary btn-sm" [routerLink]="['/edit-blogs/edit-blogs',blogs._id]">Edit</button>&nbsp;
                <button class="btn btn-danger btn-sm" (click)="delete(blogs._id)">Delete</button>
              </td>
        </tr>
      </tbody>
    </table>
  </div>  -->
<html>
  <body>
    <div class="container">
      <h2>Blogs</h2><br>
<p-table [value]="blogslist"  [rows]="2" [paginator]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>Blog Image</th>
      <th>Blog name</th>
      <th>Description</th>
      
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-blogs>
    <tr>
      <td>
        <img src="{{blogs.file}}" alt="" height="150px" width="150px">
      </td>
      <td>{{blogs.name}}</td>
      <!-- <td>{{blogs.description}}</td> -->
      <td innerHTML="{{blogs.description}}"></td>
      <td>
        <button class="btn btn-primary btn-sm" [routerLink]="['/edit-blogs/edit-blogs',blogs._id]">Edit</button>&nbsp;
        <button class="btn btn-danger btn-sm" (click)="delete(blogs._id)">Delete</button>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
</body>
</html>
<br>
<br>
<br>
<br>
<app-footer></app-footer>