<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome User</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
    /* Logo size adjusting*/
    /* .nav navbar-nav img{
      width: 20%;
      height: 25%
    } */
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- <a routerLink ='/logout'>Ecommerce</a> -->
      <!-- <img src="../../../../assets/images/naruto-wallpaper-for-mobile-2.jpg"> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/dashboard">Today's deals!</a></li>
        <!-- <li><a routerLink ='/profile'>Profile</a></li> -->
        <li><a routerLink ='/reg-user-blogs/reg-user-blogs'>Manage-Blogs</a></li>
        <li><a routerLink ='/manage-users/manage-users'>Manage-user</a></li>
        <li><a routerLink ='/manage-products/manage-products'>Manage-products</a></li>
        <li><a routerLink ='/contact-us/contact-us'>Contact-us</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-right: 2%">
        <li><p style="color: white; margin-top: 14px;margin-right: 14px">Welcome Admin!</p></li>
        <!-- <li><a routerLink="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li> -->
        <li><a class="nav-link" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>
