<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Edit your blog</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html> -->

<app-navbar></app-navbar>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">


<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="editBlogs(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>My Blogs</h1>
        <label style="font-size: 15px">Name of Blog
          <input type="text" formControlName="name" class="form-control">
        </label>
        <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</div>
        <br>
        
        <label style="font-size: 15px">Description
          <!-- <input type="text" formControlName="description" class="form-control"> -->
        </label>  
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10" formControlName="description"></textarea>

        <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">You must specify a description that's between 30 and 500 characters.</div>

        <!-- <div class="form-group">
            <label for="exampleFormControlTextarea1">Large textarea</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div> -->
        
        <!-- <label>Email
          <input type="email" formControlName="email" required email="true">
        </label>
        <div *ngIf="officialEmail.errors"> 
          <div *ngIf="officialEmail.errors.required">
              Correct Email required.
          </div> 		   
          <div *ngIf="officialEmail.errors.pattern">
              Email not valid.
          </div> 
       </div>   -->
       <input type="submit" class="button expanded" value="Submit Form" style="font-size: 15px" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>


<app-footer></app-footer>