<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            width: 130px;
            height: 100%;
            /* position: fixed; */
            z-index: 1;
            top: 20px;
            left: 10px;
            background: #eee;
            overflow-x: hidden;
            padding: 8px 0;
        }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #2196F3;
            display: block;
        }

        .sidenav a:hover {
            color: #064579;
        }

        .main {
            margin-left: 140px;
            /* Same width as the sidebar + left position in px */
            font-size: 28px;
            /* Increased text to enable scrolling */
            padding: 0px 10px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }
            .sidenav a {
                font-size: 18px;
            }
        }


        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }

        /* Remove the jumbotron's default bottom margin */

        .jumbotron {
            margin-bottom: 0;
        }

        /* Logo size adjusting*/

        /* .nav navbar-nav img{
      width: 20%;
      height: 25%
    } */

        /* Add a gray background color and some padding to the footer */

        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        .navbar ul li a {
            margin-left: 12px;
            
        }
        .navbar ul li p {
            margin-left: 12px;
            
        }
        
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
        <ul class="navbar-nav" style="font-size: 15px; margin-left: 15px">
            <li class="nav-item active">
                <a routerLink="/userdashboard" style="color: white">EcommerceOne</a>
                <!-- <a class="nav-link" style="color: white">EcommerceOne</a> -->
            </li>
            <!-- <li class="nav-item active">
                <a routerLink="/user-profile" style="color: white">Profile</a>
                <a class="nav-link" href="#" style="color: white">Profile</a>
            </li> -->
            <li class="nav-item">
                <a routerLink="/blog-listing-user/blog-listing-user" style="color: white">Blogs</a>
            </li>
            <li class="nav-item">
                <a routerLink="/user-products/user-products" style="color: white">Products Shop</a>
                <!-- <a class="nav-link" href="#"style="color: white">Cart</a> -->
            </li>
            <!-- <li class="nav-item">
                <a routerLink="/user-cart/user-cart" style="color: white">Cart</a>
            </li> -->

        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-left: 47%">
            <li>
                <p style="color: white; font-size: 15px; margin-top: 14px; padding-right: 5px">Welcome {{username}}!</p>
            </li>
            <li>
                <a routerLink="/user-cart/user-cart" style="color: white">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Cart</a>
            </li>
            <!-- <li class="nav-item">
                <a routerLink="/authenticate/chat" style="color: white">
                    <span class="glyphicon glyphicon-comment"></span> Chat</a>
            </li> -->
            <li>
                <a (click)="logout()" style="color: white">
                    <span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
            
        </ul>
    </nav>
</body>

</html>