<app-navbar-user></app-navbar-user>
<html>

<head>

</head>

<body>
  <div *ngIf="amnt!=0">
    <div class="container">
      <p-card title="Your Cart" [style]="{width: '1000px'}">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <div class="totalPayAmount" style="margin-bottom: 20px; margin-top: 0px; font-size: 16px">
            <b>Total amount payable : {{amnt}}</b>

          </div>
          <!-- <div class="checkout">
          <button class="btn btn-primary btn-sm button button3" style="margin-left: 5px">Proceed to checkout</button>
        </div> -->
        </div>
        <p-table [value]="itemslist">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <!-- <th>Product Cost</th> -->
              <th>Quantity</th>
              <th>Sub Total</th>
              <th>Option</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-items>
            <tr>
              <td>{{items.productId.productName}}
                <!-- <td>{{items.productCost}}</td> -->
                <td>

                  <!-- <button (click)="counter(items, 'increment')">
                  <span class="glyphicon glyphicon-plus-sign"></span>
                </button> -->
                  {{items.quantity}}
                  <!-- <button (click)="counter(items, 'decrement')">
                  <span class="glyphicon glyphicon-minus-sign"></span>
                </button> -->
                </td>
                <!-- <td>{{items.quantity * items.productCost}}</td> -->
                <td>{{items.productCost}}</td>

                <td>
                  <button class="btn btn-danger btn-sm" (click)="deleteCartProduct(items._id)">
                    <span class="glyphicon glyphicon-trash"></span>Remove</button>
                </td>
            </tr>
            <!-- <tr>
            <td colspan="5" align="right">Total</td>
            <td>{{total}}</td>
          </tr> -->
          </ng-template>
          <ng-template pTemplate>
            <tr>
              <td colspan="5" align="right">Total</td>
              <td>{{total}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>


      <!-- <div class="col-md-11">
          <p-card title="Your Cart">
              <div class="col-md-6">
                  <p-scrollPanel [style]="{width: '100%', height: '200px'}">
                    <div style="padding:1em;line-height:1.5"> -->


      <!-- <p-table>
    <ng-template pTemplate="header">
        <tr>
            <th>Option</th>
                              <th>Id</th>
                              <th>Name</th>
                              <th>Price</th>
                              <th>Quantity</th>
                              <th>Sub Total</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr *ngFor="let items of itemslist">
            <td align="center">
                <a (click)="remove(item.productId)">X</a>
            </td>
            <td>{{items._id}}</td>
            <td>{{items.productName}}</td>
            <td>{{items.productCost}}</td>
            <td>{{items.quantity}}</td>
            <td>{{items.totalCost}}</td>
        </tr>
    </ng-template>
</p-table> -->

      <!-- <p-card title='Cart Info' [style]="{width: '360px'}">
                          <table border="1">
                          <tr>
                              <th>Option</th>
                              <th>Id</th>
                              <th>Name</th>
                              <th>Price</th>
                              <th>Quantity</th>
                              <th>Sub Total</th>
                          </tr>
                        <tr *ngFor="let items of itemslist">
                            <td align="center">
                                <a (click)="remove(item.productId)">X</a>
                            </td>
                            <td>{{items._id}}</td>
                            <td>{{items.productName}}</td>
                            <td>{{items.productCost}}</td>
                            <td>{{items.quantity}}</td>
                            <td>{{items.totalCost}}</td>
                        </tr>
                        <tr>
                            <td colspan="6" align="right">Total</td>
                            <td>{{total}}</td>
                        </tr>
                    </table>
                      </p-card> -->
      <!-- </div>
                  </p-scrollPanel>
                </div>
          </p-card>
      </div>
    </div> -->







      <!-- <h3>Cart Info</h3>
    <table border="1">
      <tr>
  
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
        <th>Option</th>

      </tr>
      <tr *ngFor="let items of itemslist">
        
        <td>{{items._id}}</td>
        <td>{{items.productId.productName}}</td>
        <td>{{items.productCost}}</td>
        <td>{{items.quantity}}</td>
        <td>{{items.totalCost}}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="delete(blogs._id)">
            <span class="glyphicon glyphicon-trash"></span>Remove</button>
        </td>
      </tr>
      <tr>
        <td colspan="6" align="right">Total</td>
        <td>{{total}}</td>
      </tr>
    </table> -->
      <br>
      <!-- <div class="col-md-8"></div> -->
      <div class="col-md-11">
        <input class="btn btn-primary btn button button3" style="margin: 5px 0px; background-color:rgb(71, 175, 189); border: none; width: 100%"
          value="Proceed to checkout" routerLink='/shipping-form/shipping-form'>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


      <!-- <div class="col-md-6">
          <p-scrollPanel >
            <div style="padding:1em;line-height:1.5">
             <h2 style="text-align: center"><b>Your Cart</b></h2>
                <div *ngFor="let products of productslist">
                       Product:{{products.productName}} 
                  <br> Cost : {{products.productCost}}
                  <br> Quantity : {{products.quantity}}
                  <hr/>
                </div>
              
            </div>
          </p-scrollPanel>
        </div> -->
    </div>
  </div>
  <div *ngIf="amnt==0">
    <div class="container">
      <div class="image">
    <div class="col-md-6">
      <img src="../../../../assets/images/dogcart.jpg">
    </div>
  </div>
  <div class="text">
    <div class="col-md-6">
    <b style="font-size: 30px">Your cart is empty!</b>
    </div>
    </div>
  </div>
  </div>
</body>

</html>
<app-footer-user></app-footer-user>