/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

body {
    background:#e8e8e8;
    font-family: 'Muli';
}
@import '~ngx-toastr/toastr.css';
